body {
  margin: 0;
  padding: 30px;
  text-align: center;
  color: #0a1524;
}

body,
button {
  font-family: 'Lucida Console', Monaco, monospace;
}

ul {
  margin-bottom: 30px;
}

button {
  background: none;
  border-radius: 4px;
  outline: none;
  border-style: solid;
  border-color: #0a1524;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 8px;
}

h2 {
  width: max-content;
  margin-bottom: 20px;
}

.main-btn {
  transition: all 0.15s ease-in-out;
  &:hover {
    background: #0a1524;
    color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}
